*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
    

}

nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background: #2A4966; 
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.4s ease-in-out;  
}
#navbar li a:hover,
#navbar li a.active{
    color: #6DD98D;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #6DD98D;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.mobile{
    color: white;
    display: none;
}

 
@media screen and (max-width:769px){
    #navbar{
        display: none;
    }
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: 0px;
        height: 100vh;
        background-color: #2A4966;
        box-shadow: 0 40px 60px rgba(0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.4s ease-in-out;
    }

   
      
    li{
        list-style: none;
        padding: 0 20px;
        position: relative;
        margin-bottom: 25px;
        
    }
    a{
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
          
    }
    a.active{
        right: 0px;
       }
    ul li a:hover,
ul li a.active{
    color: #6DD98D;
}

ul li a:hover::after,
ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #6DD98D;
    position: absolute;
    bottom: -4px;
    left: 20px;}
    
    .mobile{
        
        display: block;
    }
    .menuBar{
        font-size: 30px;
        cursor: pointer;
    }
    .menuTimes{
        font-size: 30px;
        cursor: pointer;
    }
}